@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto:wght@300;400;500;700&display=block');

#dot-grid {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(https://compound.finance/images/pattern-large-dots.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.st0 {
  fill: transparent;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #00D395;
  fill-opacity: 1;
  stroke: #00D395;
  stroke-width: 28px;
}

@keyframes loadingLogoAnim {
  0% {
    stroke-dasharray: 300%;
    stroke-dashoffset: 0%;
  }

  40% {
    fill-opacity: 0;
  }

  50% {
    stroke-dashoffset: 300%;
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0;
  }

  100% {
    stroke-dasharray: 300%;
    stroke-dashoffset: 0%;
  }
}

.loading-indicator-active path {
  animation: loadingLogoAnim 2.5s infinite
}

.loading-indicator-inactive path {
  animation: loadingLogoAnim 2.5s
}
